@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* src/App.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

h2 {
  font-weight: bold;
}

a.nav-link.active {
  background-color: #495057;
  border-radius: 0.25rem;
}

/* old */
/*
.home-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.nav-option{
    margin: 0px 20px;
}
.home-bus-name {
    font-size: 28px;
}

.home-register-login-links {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
*/

.small-size-page {
    width: 600px;
}

.medium-size-page{
    width: 1200px;
}
.header-color{
    background-color: rgb(58, 43, 111);;
}
.ticket-page{
    background-color: rgb(252, 203, 111);
    width: 400px;
}
.ticket-heading{
    background-color: rgb(246, 134, 42);
}
.ticket-end-part{
    background-color: rgb(241, 215, 189);
}
.ticket-body-part{
    background-color: rgb(244, 233, 209);
}
.seat-box:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.bg-color-1{
    background-color: rgba(98, 87, 68, 0.508);
}